{% comment %}+++++++++++++++++++++++++++++++++++++++
this include can be called with or without vars

hoursToAdd : int number of hours to add
minutesToAdd : int number of minutes to add

// include with no vars - default duration is applied
{% include schedule.html %}

// include with vars
{% include schedule.html hoursToAdd=1 minutesToAdd=30 %}
or
{% include schedule.html minutesToAdd=35 %}
+++++++++++++++++++++++++++++++++++++{% endcomment %}

{% assign defaultDuration = 3 %}

{% if include.hoursToAdd %}
    {% assign hoursToSec = include.hoursToAdd | times: 3600 %}
{% else %}
    {% assign hoursToSec = defaultDuration | times: 3600 %}
{% endif %}

{% if include.minutesToAdd %}
    {% assign minutesToSec = include.minutesToAdd | times: 60 %}
{% else %}
    {% assign aminutesToSec = 0 %}
{% endif %}

{% comment %} ++ Compute endTime : translate to timestamp and add second ++{% endcomment %}
{% assign endTime = page.date | date: '%s' | plus: hoursToSec | plus: minutesToSec %}

{% comment %} ++ Output ++{% endcomment %}
<p>
  from {{ page.date | date: "%Y%m%dT%H%M" }}00Z 
  to {{ endTime | date: "%Y%m%dT%H%M" }}00Z
</p>