<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
 		<small>{{ site.tagline }}</small>
        </h3>
      </header>

<p align=center>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- wiki -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8824669383348204"
     data-ad-slot="1089061212"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</p>

      <main>
        {{ content }}
      </main>

<p align=center>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- wiki -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8824669383348204"
     data-ad-slot="1089061212"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</p>

      <footer class="footer">
        <small>
          <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>&copy;Victor3D
        </small>
      </footer>
    </div>


  </body>
</html>
