<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
 		<small>{{ site.tagline }}</small>
        </h3>
      </header>

<p align=center>
<iframe data-aa='326661' src='//ad.a-ads.com/326661?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
</p>

      <main>
        {{ content }}
      </main>

<p align=center>
<iframe data-aa='391346' src='//ad.a-ads.com/391346?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
</p>

      <footer class="footer">
        <small>
          <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>&copy;Victor3D
        </small>
      </footer>
    </div>


  </body>
</html>
